@import '../../globals/global.scss';

.card-container {
  position: relative;
  display: flex;
  background-color: #fff;
  font-family: $body-font;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 1.8em 1em 1em 1em;
  &::before {
    content: attr(data-label);
    font-size: 0.8em;
    position: absolute;
    top: 1.5em;
    color: #aaa;
  }
}