@import '../../globals/global.scss';

.switch-selector-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10em;
  height: 2rem;
  border-radius: 2px;
  font-family: $body-font;
  font-size: 1em;
}
.switch-selector-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 6em;
  height: 100%;
  background-color: #333;
  margin: 0 0.5em;
  border-radius: 2px;
  padding: 0.3em;
  &.right {
    justify-content: flex-end;
  }
}

.switch-selector-switch {
  height: 100%;
  width: 40%;
  background-color: #fff;
  border-radius: 2px;
}

