@import '../../globals/global.scss';

.account-info-container {
  font-family: $body-font;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin: 0.8em 0;
  }
}

.account-info-currency-name {
  font-weight: 700;
}