@import '../../globals/global.scss';

.button-container {
  width: 10rem;
  height: 10rem;
  color: #fff;
  font-family: $body-font;
  font-size: 2rem;
  padding: 0;
  font-weight: 700;
  border: none;
  outline: none;
  touch-action: manipulation;
  &.disabled {
    filter: grayscale(90%);
    opacity: 0.3;
  }
  &:active {
    filter: hue-rotate(30deg);
  }
}